In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Dataset/syntetic/1001.csv")
df = df.drop("Unnamed: 0",axis=1)

In [5]:
df["y-1"] = df["y"].shift(1)
df["e-1"] = df["e"].shift(1)
df["y-2"] = df["y"].shift(2)
df["e-2"] = df["e"].shift(2)

In [6]:
df

             y         e       y-1       e-1       y-2       e-2
0    -0.032056 -0.128565       NaN       NaN       NaN       NaN
1    -0.049872 -0.134009 -0.032056 -0.128565       NaN       NaN
2     0.338445  0.007136 -0.049872 -0.134009 -0.032056 -0.128565
3     0.062147 -0.156593  0.338445  0.007136 -0.049872 -0.134009
4    -0.166463 -0.117065  0.062147 -0.156593  0.338445  0.007136
...        ...       ...       ...       ...       ...       ...
1195  0.304373  0.218165 -0.057767 -0.167760  0.121630 -0.063248
1196  0.128507  0.162642  0.304373  0.218165 -0.057767 -0.167760
1197  0.121329 -0.014950  0.128507  0.162642  0.304373  0.218165
1198 -0.177914 -0.020050  0.121329 -0.014950  0.128507  0.162642
1199  0.201162 -0.034763 -0.177914 -0.020050  0.121329 -0.014950

[1200 rows x 6 columns]

In [7]:
df = df.iloc[200:]

In [8]:
df.index = np.arange(len(df))

In [9]:
df = df.drop("e",axis=1)

In [10]:
df

            y       y-1       e-1       y-2       e-2
0    0.041868  0.088594 -0.003596 -0.001430 -0.042699
1    0.155007  0.041868  0.019511  0.088594 -0.003596
2   -0.018904  0.155007 -0.130112  0.041868  0.019511
3   -0.000645 -0.018904  0.017703  0.155007 -0.130112
4   -0.011553 -0.000645 -0.141365 -0.018904  0.017703
..        ...       ...       ...       ...       ...
995  0.304373 -0.057767 -0.167760  0.121630 -0.063248
996  0.128507  0.304373  0.218165 -0.057767 -0.167760
997  0.121329  0.128507  0.162642  0.304373  0.218165
998 -0.177914  0.121329 -0.014950  0.128507  0.162642
999  0.201162 -0.177914 -0.020050  0.121329 -0.014950

[1000 rows x 5 columns]

In [11]:
df.to_csv("Dataset/syntetic/last.csv")

In [15]:
y = df.loc[:,"y"]
X = df.iloc[:,1:]

In [19]:
X_train, X_test = X.iloc[:900], X.iloc[900:]
y_train, y_test = y.iloc[:900], y.iloc[900:]

In [38]:
# import the regressor
from sklearn.tree import DecisionTreeRegressor 
regressor = DecisionTreeRegressor(random_state = 0) 
regressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [39]:
prep = regressor.predict(X_test)

In [41]:
from sklearn.metrics import mean_squared_error as mse

In [42]:
y_test = y_test.to_numpy()

In [44]:
mse(y_test,prep)

0.031350905935550843